body {
  font-family: Arial, sans-serif;
  background: url('fundo.jpg') no-repeat center center fixed;
  background-size: cover;
 color: #b7b9be;
  margin: 0;
  padding: 0;
background-color:  #bdc5d8;
}

nav.menu {
  background-color: #444758;
  padding: 10px;
  position: sticky;
  top: 0;
}

nav.menu a{
  color: #ff9900;
  margin-right: 10px;
  text-decoration: none;
  font-weight: bold;
}

nav.menu :hover {
  text-decoration: underline;
  color: #ffd000;
}

section {
  padding: 20px;
}

h1, h2, h3 {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  max-width: 500px;
  margin: 25px;
  padding: 20px;
  background-color: #ff8800;
  border-radius: 60px;
  box-shadow: 0 4px 5px #394039;
  color:  #ffffff;
}
nav {
  color: rgb(255, 2, 2);
}
.box, .box2, .box3, .box4 {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #e5e9eb;
  font-weight: 100;
  padding: 15px;
  margin: 40px auto;
  width: 90%;
  box-shadow: 0 4px 8px rgba(0,0,0, 0.4);
  max-width: 800px;
  color:#006d8f ;
  border-radius: 10px;
}
.Mbt {
   max-width: 1000px;
  margin: 40px auto;
  padding: 10px;
  background-color: #b9b8a7;
  border-radius: 10px;
}
.centro{
  font-size: 2.0em;
  text-align: center;
  background-color: #ff9900;
  color: #fdfdfd;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.menucenter{
  font-size: 2.0em;
  text-align: center;
}
